<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      All Health Connect permissions, the <queries> declaration and the
      PermissionsRationale / PermissionUsage activities are merged in from
      the :UnityHC library AAR. This module is the host app used only for
      testing the AAR; it does not need to redeclare them here.
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnityHC"
        tools:targetApi="33" />
</manifest>
